{% extends 'default.html' %}

{% load static %}

{% block title %}
World of Witchcraft - Удаление поста
{% endblock title %}

{% block content %}

<div class="container">
    <h2>Вы уверены что хотите удалить этот пост?</h2>
    <p>Пост удалится безвозвратно</p>
    <form action="" method="post">
        {% csrf_token %}
        <p>Удалить пост под названием "{{ object.title }}"?</p>
        <input type="submit" value="Удалить" class="btn btn-secondary my-5" />
    </form>

</div>

{% endblock content %}